/* unvisited link */
a:link {
    text-decoration: none;
    color: grey;
}
a:visited {
    text-decoration: none;
    color: grey;
}
/* mouse over link */
a:hover {
    text-decoration: underline;
    color: grey;
}

button:hover {
    color: grey;
    cursor: pointer;
    border-radius: 12px
}

#everything {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


#upper_bloc {
    padding-top: 1em;
    display: flex;
    align: flex-start;
    justify-content: flex-end;
}
    .upper_items {
        width: 5em;
        font-family: arial, sans-serif;
        font-size: 13px;
    }


#central_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;

    align: center;
    vertical-align: middle;
}
    #google_central_logo {
        padding-bottom: 2em;
    }
    #search_bar {
        border-style: solid;
        width: 38em;
        height: 2.5em;
        border-radius: 2.5em        
        
    }
    #search_buttons {
        display: flex;
        flex-direction: row;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }
        #search_button {
            border-style: solid;
            padding: 1em;
            color: grey;
            border-radius: 12px
        }
        #got_lucky {
            border-style: solid;
            padding: 1em;
            color: grey;
            border-radius: 12px
        }
    #link_to_remote_work_tools {
        font-family: arial, sans-serif;
        font-size: 13px;
        color: blue;
        padding-bottom: 2em;
    }
    #change_language {
        font-family: arial, sans-serif;
        font-size: 13px;
        padding-bottom: 10em;
    }




#lower_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5em;
}
    #lower_bar {
        display: flex;
        padding-left: 1em;
        border-top: 1px solid grey;
    }
    #lowest_bar {
        display: flex;
        flex-direction: row;
        border-top: 1px solid grey;
    }
    #lowest_left {
        display: flex;
        flex-direction: row;
    }
    #lowest_right {
        display: flex;
        flex-direction: row;
    }
        .lower_items {
            font-family: arial, sans-serif;
            font-size: 15px;
            
        }
        .lowest_items {
            font-family: arial, sans-serif;
            font-size: 14px;
            justify-content: space-between;

        }
        .ll_items {
            padding: 1em;
            justify-content: space-evenly;
        }
        .lr_items {
            padding: 1em;
            justify-content: space-evenly;
        }
