/* unvisited link */
a:link {
  color: grey;
  text-decoration: none;
}
/* visited link */
a:visited {
    color: grey;
}
/* mouse over link */
a:hover {
  color: grey;
  text-decoration: underline;
}


#everything {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#upper_bloc {
    display: flex;
    align: flex-start;
    justify-content: flex-end;
}
#central_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;

    align: center;
    vertical-align: middle;
}
#search_buttons {
    display: flex;
    flex-direction: row;
}



#lower_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lower_bar {
    display: flex;
    padding-left: 1em;
}
#lowest_bar {
    display: flex;
    flex-direction: row;
}
#lowest_left {
    display: flex;
    flex-direction: row;
}
#lowest_right {
    display: flex;
    flex-direction: row;
}


.upper_items {
    width: 5em;
    font: arial, sans-serif;
    font-size: 13px;
}
.lower_items {
    font: arial, sans-serif;
    font-size: 15px;
    
}
.lowest_items {
    font: arial, sans-serif;
    font-size: 14px;
    justify-content: space-between;

}
.ll_items {
    padding: 1em;
    justify-content: space-evenly;
}
.lr_items {
    padding: 1em;
    justify-content: space-evenly;
}
